/* 颜色 */
$__primary-color: #409eff;
$__blue-color: #409eff;
$__edu-color: rgb(83, 113, 255);
$__border-color: #e4e7ed;
$__gray-font: #929ca1;
$__background-color: #f3f7fa;
$__disabled-color: #c0c4cc;

/* 宽度 */
$__max-width: 24px;
$__middle-width: 16px;
$__normal-width: 14px;

$__mini-width: 8px;


/* 圆角 */
$__common_radius: 4px;
